
body {
  background-color: lightblue;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#snake {
  background-color: #49ff49;
  width: 20px;
  height: 20px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#apple {
  background-color: salmon;
  width: 20px;
  height: 20px;
  position: absolute;
    left: 100px;    
    top: 100px;    
}

#score {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
