
body {
  background-color: gainsboro;
}

#startgame {
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* opacity: 0.5; */
    background-color: rgba(0, 132, 255, 0.7); 
    z-index: 1000;
}

#startbutton {
    position: fixed;
    left: 40%;
    top: 50%;
    z-index: 1001;
    font-size: 50px;
    border-radius: 4px;
    background-color: white);
}

#board {
  background-color: black;
  position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scoreboard {
    background-color: lightsteelblue;
    width: 130px;
    height: 40px;
    border: 2px solid white; 
    position: fixed;
    left: 45%;
    /* top: %; */
    z-index: 999; 
}

#leftScore {
    position: absolute;
    text-align: left;
    left: 10%;
}

#rightScore {
    position: absolute;
    text-align: right;
    left: 80%;
}


#pingPong {
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
    /* left: 50%; 
    top: 50%; */
    left: 500px;
    top: 500px;
}

#rightPaddle {
    background-color: whitesmoke;
    width: 20px;
    height: 130px;
    border: 5px;
    position: absolute;
        right: 10%;
        top: 50%;
}

#leftPaddle {
    background-color: whitesmoke;
    width: 20px;
    height: 130px;
    border: 5px;
    position: absolute;
        left: 10%;
        top: 50%;
}

#endgame {
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: turquoise;
    opacity: 0.0;
    /* top: 50%;
    left: 50%; */
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    text-align: center;
    z-index: 900;
}

#gameover {
    position: fixed;
    top: 40%;
    left: 40%;
    opacity: 0;
}
